---

---

<div class="flex flex-col max-w-96 m-auto items-center">
    <ul class="grid md:grid-cols-3 sm:flex gap-x-8">
        <li>» <a href="/archive" class="text-[#cba6f7] decoration-dotted hover:underline hover:cursor-pointer overflow-hidden text-nowrap">Archive</a></li>
        <li>» <a href="https://github.com/japanware" target="_blank" class="text-[#cba6f7] decoration-dotted hover:underline hover:cursor-pointer overflow-hidden text-nowrap">Github</a></li>
        <li>» <a class="text-[#cba6f7] decoration-dotted hover:underline hover:cursor-pointer overflow-hidden text-nowrap">Discord</a></li>
    </ul>
</div>