---
import Layout from '../layouts/Layout.astro';
const { frontmatter } = Astro.props;
---

<Layout>
    <pre class="flex justify-center text-center leading-none overflow-hidden text-nowrap mb-12 mt-32">
 ▐▄▄▄ ▄▄▄·  ▄▄▄· ▄▄▄·  ▐ ▄ ▄▄▌ ▐ ▄▌ ▄▄▄· ▄▄▄  ▄▄▄ .
  ·██▐█ ▀█ ▐█ ▄█▐█ ▀█ •█▌▐███· █▌▐█▐█ ▀█ ▀▄ █·▀▄.▀·
▪▄ ██▄█▀▀█  ██▀·▄█▀▀█ ▐█▐▐▌██▪▐█▐▐▌▄█▀▀█ ▐▀▀▄ ▐▀▀▪▄
▐▌▐█▌▐█ ▪▐▌▐█▪·•▐█ ▪▐▌██▐█▌▐█▌██▐█▌▐█ ▪▐▌▐█•█▌▐█▄▄▌
 ▀▀▀• ▀  ▀ .▀    ▀  ▀ ▀▀ █▪ ▀▀▀▀ ▀▪ ▀  ▀ .▀  ▀ ▀▀▀
    </pre>
    <div class="mb-32">
        <div class="p-4 flex flex-col m-auto max-w-[700px] font-gohu leading-none
    prose-p:mb-4 prose-p:flex prose-p:flex-col prose-headings:my-1 prose-headings:font-bold prose-headings:text-[#cba6f7] prose-li:list-decimal prose-ol:list-inside
    prose-ol:-mt-2 prose-ol:mb-4 prose-hr:mt-8 prose-hr:mb-6 prose-hr:border-[#313244]
    prose-a:text-[#cba6f7] prose-a:decoration-dotted hover:prose-a:underline prose-pre:my-4 prose-pre:py-4 prose-pre:px-4
    "
        >
            <a href="../../" class="flex w-max text-[#cba6f7] decoration-dotted hover:underline hover:cursor-pointer mb-4">« Back<br/><br/></a>
            <p class="font-bold">{frontmatter.title}</p>
            <article class="">
                <slot />
            </article>
            <p>~ {frontmatter.author}</p>
        </div>
    </div>
</Layout>

<style>
</style>